extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/fertilizer") fertilizer
  div 
  a(href="fertilizer/festiside/new") festiside
  div 
  a(href="/fertilizer/festiside/organic/new") orgainc
  div 
  a(href='/seeds') Seeds
  div 
  
  
